---
import BaseLayout from '../layouts/BaseLayout.astro';
import Profile from '../components/organisms/Profile'
import Navbar from '../components/organisms/Navbar'
import SocialNetworks from '../components/organisms/SocialNetworks'
---

<BaseLayout>
    <Navbar/>
    <main class="flex flex-col h-full pt-16">
        <Profile/>
        <SocialNetworks />
    </main>
</BaseLayout>
