---
import Navbar from "@/components/organisms/tubolivarhoy/Navbar";
import Hero from "@/components/organisms/tubolivarhoy/Hero";
import Features from "@/components/organisms/tubolivarhoy/Features";
import Footer from "@/components/organisms/tubolivarhoy/Footer";
import TuBolivarHoyLayout from "@/layouts/TuBolivarHoyLayout.astro";
---

<TuBolivarHoyLayout>
    <main class="min-h-screen font-inter">
        <Navbar />
        <Hero />
        <Features />
    </main>
    <Footer />
</TuBolivarHoyLayout>
