---
import TuBolivarHoyLayout from "../../layouts/TuBolivarHoyLayout.astro";
import Navbar from "../../components/organisms/tubolivarhoy/Navbar";
import Footer from "../../components/organisms/tubolivarhoy/Footer";
---

<TuBolivarHoyLayout>
  <style type="text/css">
    @import url(https://themes.googleusercontent.com/fonts/css?kit=nJGywkaDzFzaEBjqqzYw8g);

    .lst-kix_list_19-0 > li:before {
      content: "\0025a0   ";
    }

    .lst-kix_list_19-1 > li:before {
      content: "\0025cb   ";
    }

    .lst-kix_list_14-1 > li:before {
      content: "\0025cb   ";
    }

    .lst-kix_list_14-3 > li:before {
      content: "\0025cf   ";
    }

    ul.lst-kix_list_1-0 {
      list-style-type: none;
    }

    .lst-kix_list_14-0 > li:before {
      content: "\0025a0   ";
    }

    .lst-kix_list_14-4 > li:before {
      content: "\0025cb   ";
    }

    .lst-kix_list_19-4 > li:before {
      content: "\0025cb   ";
    }

    .lst-kix_list_14-5 > li:before {
      content: "\0025a0   ";
    }

    .lst-kix_list_14-7 > li:before {
      content: "\0025cb   ";
    }

    .lst-kix_list_19-2 > li:before {
      content: "\0025a0   ";
    }

    .lst-kix_list_19-3 > li:before {
      content: "\0025cf   ";
    }

    .lst-kix_list_14-6 > li:before {
      content: "\0025cf   ";
    }

    ul.lst-kix_list_9-3 {
      list-style-type: none;
    }

    ul.lst-kix_list_9-4 {
      list-style-type: none;
    }

    ul.lst-kix_list_9-1 {
      list-style-type: none;
    }

    ul.lst-kix_list_9-2 {
      list-style-type: none;
    }

    ul.lst-kix_list_9-7 {
      list-style-type: none;
    }

    ul.lst-kix_list_9-8 {
      list-style-type: none;
    }

    ul.lst-kix_list_9-5 {
      list-style-type: none;
    }

    ul.lst-kix_list_9-6 {
      list-style-type: none;
    }

    ul.lst-kix_list_1-3 {
      list-style-type: none;
    }

    ul.lst-kix_list_1-4 {
      list-style-type: none;
    }

    ul.lst-kix_list_1-1 {
      list-style-type: none;
    }

    ul.lst-kix_list_1-2 {
      list-style-type: none;
    }

    ul.lst-kix_list_1-7 {
      list-style-type: none;
    }

    ul.lst-kix_list_9-0 {
      list-style-type: none;
    }

    ul.lst-kix_list_1-8 {
      list-style-type: none;
    }

    ul.lst-kix_list_1-5 {
      list-style-type: none;
    }

    .lst-kix_list_14-2 > li:before {
      content: "\0025a0   ";
    }

    ul.lst-kix_list_1-6 {
      list-style-type: none;
    }

    ul.lst-kix_list_17-1 {
      list-style-type: none;
    }

    ul.lst-kix_list_17-0 {
      list-style-type: none;
    }

    ul.lst-kix_list_17-8 {
      list-style-type: none;
    }

    .lst-kix_list_19-8 > li:before {
      content: "\0025a0   ";
    }

    ul.lst-kix_list_17-7 {
      list-style-type: none;
    }

    ul.lst-kix_list_17-6 {
      list-style-type: none;
    }

    ul.lst-kix_list_17-5 {
      list-style-type: none;
    }

    ul.lst-kix_list_17-4 {
      list-style-type: none;
    }

    ul.lst-kix_list_17-3 {
      list-style-type: none;
    }

    .lst-kix_list_14-8 > li:before {
      content: "\0025a0   ";
    }

    ul.lst-kix_list_17-2 {
      list-style-type: none;
    }

    .lst-kix_list_19-5 > li:before {
      content: "\0025a0   ";
    }

    .lst-kix_list_19-6 > li:before {
      content: "\0025cf   ";
    }

    .lst-kix_list_19-7 > li:before {
      content: "\0025cb   ";
    }

    .lst-kix_list_5-0 > li:before {
      content: "\0025a0   ";
    }

    .lst-kix_list_5-3 > li:before {
      content: "\0025cf   ";
    }

    .lst-kix_list_5-2 > li:before {
      content: "\0025a0   ";
    }

    .lst-kix_list_5-1 > li:before {
      content: "\0025cb   ";
    }

    .lst-kix_list_5-7 > li:before {
      content: "\0025cb   ";
    }

    ul.lst-kix_list_8-4 {
      list-style-type: none;
    }

    ul.lst-kix_list_8-5 {
      list-style-type: none;
    }

    .lst-kix_list_5-6 > li:before {
      content: "\0025cf   ";
    }

    .lst-kix_list_5-8 > li:before {
      content: "\0025a0   ";
    }

    ul.lst-kix_list_8-2 {
      list-style-type: none;
    }

    ul.lst-kix_list_8-3 {
      list-style-type: none;
    }

    ul.lst-kix_list_8-8 {
      list-style-type: none;
    }

    ul.lst-kix_list_8-6 {
      list-style-type: none;
    }

    ul.lst-kix_list_8-7 {
      list-style-type: none;
    }

    .lst-kix_list_5-4 > li:before {
      content: "\0025cb   ";
    }

    .lst-kix_list_5-5 > li:before {
      content: "\0025a0   ";
    }

    ul.lst-kix_list_8-0 {
      list-style-type: none;
    }

    ul.lst-kix_list_8-1 {
      list-style-type: none;
    }

    .lst-kix_list_6-1 > li:before {
      content: "\0025cb   ";
    }

    .lst-kix_list_6-3 > li:before {
      content: "\0025cf   ";
    }

    .lst-kix_list_18-0 > li:before {
      content: "\0025a0   ";
    }

    .lst-kix_list_6-0 > li:before {
      content: "\0025a0   ";
    }

    .lst-kix_list_6-4 > li:before {
      content: "\0025cb   ";
    }

    ul.lst-kix_list_16-2 {
      list-style-type: none;
    }

    ul.lst-kix_list_16-1 {
      list-style-type: none;
    }

    .lst-kix_list_18-1 > li:before {
      content: "\0025cb   ";
    }

    .lst-kix_list_18-2 > li:before {
      content: "\0025a0   ";
    }

    ul.lst-kix_list_16-0 {
      list-style-type: none;
    }

    .lst-kix_list_6-2 > li:before {
      content: "\0025a0   ";
    }

    ul.lst-kix_list_16-8 {
      list-style-type: none;
    }

    ul.lst-kix_list_16-7 {
      list-style-type: none;
    }

    ul.lst-kix_list_16-6 {
      list-style-type: none;
    }

    ul.lst-kix_list_16-5 {
      list-style-type: none;
    }

    ul.lst-kix_list_16-4 {
      list-style-type: none;
    }

    .lst-kix_list_6-8 > li:before {
      content: "\0025a0   ";
    }

    ul.lst-kix_list_16-3 {
      list-style-type: none;
    }

    .lst-kix_list_6-5 > li:before {
      content: "\0025a0   ";
    }

    .lst-kix_list_6-7 > li:before {
      content: "\0025cb   ";
    }

    .lst-kix_list_6-6 > li:before {
      content: "\0025cf   ";
    }

    .lst-kix_list_2-7 > li:before {
      content: "\0025cb   ";
    }

    .lst-kix_list_7-4 > li:before {
      content: "\0025cb   ";
    }

    .lst-kix_list_7-6 > li:before {
      content: "\0025cf   ";
    }

    .lst-kix_list_2-5 > li:before {
      content: "\0025a0   ";
    }

    .lst-kix_list_7-2 > li:before {
      content: "\0025a0   ";
    }

    .lst-kix_list_18-6 > li:before {
      content: "\0025cf   ";
    }

    ul.lst-kix_list_3-7 {
      list-style-type: none;
    }

    ul.lst-kix_list_3-8 {
      list-style-type: none;
    }

    .lst-kix_list_10-1 > li:before {
      content: "\0025cb   ";
    }

    .lst-kix_list_18-4 > li:before {
      content: "\0025cb   ";
    }

    .lst-kix_list_18-8 > li:before {
      content: "\0025a0   ";
    }

    .lst-kix_list_13-7 > li:before {
      content: "\0025cb   ";
    }

    ul.lst-kix_list_3-1 {
      list-style-type: none;
    }

    ul.lst-kix_list_3-2 {
      list-style-type: none;
    }

    .lst-kix_list_7-8 > li:before {
      content: "\0025a0   ";
    }

    ul.lst-kix_list_3-0 {
      list-style-type: none;
    }

    ul.lst-kix_list_3-5 {
      list-style-type: none;
    }

    ul.lst-kix_list_3-6 {
      list-style-type: none;
    }

    ul.lst-kix_list_3-3 {
      list-style-type: none;
    }

    ul.lst-kix_list_3-4 {
      list-style-type: none;
    }

    .lst-kix_list_10-7 > li:before {
      content: "\0025cb   ";
    }

    .lst-kix_list_15-5 > li:before {
      content: "\0025a0   ";
    }

    .lst-kix_list_10-5 > li:before {
      content: "\0025a0   ";
    }

    .lst-kix_list_10-3 > li:before {
      content: "\0025cf   ";
    }

    ul.lst-kix_list_11-7 {
      list-style-type: none;
    }

    ul.lst-kix_list_11-6 {
      list-style-type: none;
    }

    .lst-kix_list_4-1 > li:before {
      content: "\0025cb   ";
    }

    ul.lst-kix_list_11-5 {
      list-style-type: none;
    }

    ul.lst-kix_list_11-4 {
      list-style-type: none;
    }

    ul.lst-kix_list_11-3 {
      list-style-type: none;
    }

    .lst-kix_list_15-7 > li:before {
      content: "\0025cb   ";
    }

    ul.lst-kix_list_11-2 {
      list-style-type: none;
    }

    ul.lst-kix_list_11-1 {
      list-style-type: none;
    }

    ul.lst-kix_list_11-0 {
      list-style-type: none;
    }

    .lst-kix_list_9-2 > li:before {
      content: "\0025a0   ";
    }

    ul.lst-kix_list_19-7 {
      list-style-type: none;
    }

    ul.lst-kix_list_19-6 {
      list-style-type: none;
    }

    .lst-kix_list_4-3 > li:before {
      content: "\0025cf   ";
    }

    .lst-kix_list_4-5 > li:before {
      content: "\0025a0   ";
    }

    ul.lst-kix_list_19-5 {
      list-style-type: none;
    }

    ul.lst-kix_list_19-4 {
      list-style-type: none;
    }

    ul.lst-kix_list_19-3 {
      list-style-type: none;
    }

    ul.lst-kix_list_19-2 {
      list-style-type: none;
    }

    ul.lst-kix_list_19-1 {
      list-style-type: none;
    }

    ul.lst-kix_list_11-8 {
      list-style-type: none;
    }

    ul.lst-kix_list_19-0 {
      list-style-type: none;
    }

    .lst-kix_list_15-1 > li:before {
      content: "\0025cb   ";
    }

    .lst-kix_list_9-0 > li:before {
      content: "\0025a0   ";
    }

    .lst-kix_list_15-3 > li:before {
      content: "\0025cf   ";
    }

    ul.lst-kix_list_19-8 {
      list-style-type: none;
    }

    .lst-kix_list_9-6 > li:before {
      content: "\0025cf   ";
    }

    .lst-kix_list_9-4 > li:before {
      content: "\0025cb   ";
    }

    .lst-kix_list_11-3 > li:before {
      content: "\0025cf   ";
    }

    ul.lst-kix_list_2-8 {
      list-style-type: none;
    }

    .lst-kix_list_12-3 > li:before {
      content: "\0025cf   ";
    }

    .lst-kix_list_11-5 > li:before {
      content: "\0025a0   ";
    }

    .lst-kix_list_12-1 > li:before {
      content: "\0025cb   ";
    }

    ul.lst-kix_list_2-2 {
      list-style-type: none;
    }

    ul.lst-kix_list_2-3 {
      list-style-type: none;
    }

    ul.lst-kix_list_2-0 {
      list-style-type: none;
    }

    ul.lst-kix_list_2-1 {
      list-style-type: none;
    }

    .lst-kix_list_9-8 > li:before {
      content: "\0025a0   ";
    }

    ul.lst-kix_list_2-6 {
      list-style-type: none;
    }

    .lst-kix_list_1-1 > li:before {
      content: "\0025cb   ";
    }

    ul.lst-kix_list_2-7 {
      list-style-type: none;
    }

    .lst-kix_list_11-7 > li:before {
      content: "\0025cb   ";
    }

    ul.lst-kix_list_2-4 {
      list-style-type: none;
    }

    ul.lst-kix_list_2-5 {
      list-style-type: none;
    }

    ul.lst-kix_list_10-0 {
      list-style-type: none;
    }

    .lst-kix_list_1-3 > li:before {
      content: "\0025cf   ";
    }

    .lst-kix_list_13-3 > li:before {
      content: "\0025cf   ";
    }

    ul.lst-kix_list_10-8 {
      list-style-type: none;
    }

    ul.lst-kix_list_18-0 {
      list-style-type: none;
    }

    ul.lst-kix_list_10-7 {
      list-style-type: none;
    }

    .lst-kix_list_1-7 > li:before {
      content: "\0025cb   ";
    }

    ul.lst-kix_list_10-6 {
      list-style-type: none;
    }

    ul.lst-kix_list_10-5 {
      list-style-type: none;
    }

    ul.lst-kix_list_10-4 {
      list-style-type: none;
    }

    ul.lst-kix_list_10-3 {
      list-style-type: none;
    }

    .lst-kix_list_1-5 > li:before {
      content: "\0025a0   ";
    }

    ul.lst-kix_list_10-2 {
      list-style-type: none;
    }

    ul.lst-kix_list_10-1 {
      list-style-type: none;
    }

    .lst-kix_list_13-5 > li:before {
      content: "\0025a0   ";
    }

    .lst-kix_list_12-5 > li:before {
      content: "\0025a0   ";
    }

    ul.lst-kix_list_18-8 {
      list-style-type: none;
    }

    ul.lst-kix_list_18-7 {
      list-style-type: none;
    }

    ul.lst-kix_list_18-6 {
      list-style-type: none;
    }

    ul.lst-kix_list_18-5 {
      list-style-type: none;
    }

    .lst-kix_list_12-7 > li:before {
      content: "\0025cb   ";
    }

    ul.lst-kix_list_18-4 {
      list-style-type: none;
    }

    .lst-kix_list_2-1 > li:before {
      content: "\0025cb   ";
    }

    ul.lst-kix_list_18-3 {
      list-style-type: none;
    }

    ul.lst-kix_list_18-2 {
      list-style-type: none;
    }

    ul.lst-kix_list_18-1 {
      list-style-type: none;
    }

    .lst-kix_list_2-3 > li:before {
      content: "\0025cf   ";
    }

    .lst-kix_list_13-1 > li:before {
      content: "\0025cb   ";
    }

    .lst-kix_list_3-0 > li:before {
      content: "\0025a0   ";
    }

    ul.lst-kix_list_5-7 {
      list-style-type: none;
    }

    ul.lst-kix_list_5-8 {
      list-style-type: none;
    }

    .lst-kix_list_3-1 > li:before {
      content: "\0025cb   ";
    }

    .lst-kix_list_3-2 > li:before {
      content: "\0025a0   ";
    }

    ul.lst-kix_list_5-5 {
      list-style-type: none;
    }

    ul.lst-kix_list_5-6 {
      list-style-type: none;
    }

    .lst-kix_list_8-1 > li:before {
      content: "\0025cb   ";
    }

    .lst-kix_list_8-2 > li:before {
      content: "\0025a0   ";
    }

    .lst-kix_list_3-5 > li:before {
      content: "\0025a0   ";
    }

    ul.lst-kix_list_5-0 {
      list-style-type: none;
    }

    .lst-kix_list_3-4 > li:before {
      content: "\0025cb   ";
    }

    ul.lst-kix_list_5-3 {
      list-style-type: none;
    }

    .lst-kix_list_3-3 > li:before {
      content: "\0025cf   ";
    }

    ul.lst-kix_list_5-4 {
      list-style-type: none;
    }

    ul.lst-kix_list_5-1 {
      list-style-type: none;
    }

    .lst-kix_list_8-0 > li:before {
      content: "\0025a0   ";
    }

    ul.lst-kix_list_5-2 {
      list-style-type: none;
    }

    .lst-kix_list_8-7 > li:before {
      content: "\0025cb   ";
    }

    .lst-kix_list_3-8 > li:before {
      content: "\0025a0   ";
    }

    .lst-kix_list_8-5 > li:before {
      content: "\0025a0   ";
    }

    .lst-kix_list_8-6 > li:before {
      content: "\0025cf   ";
    }

    .lst-kix_list_8-3 > li:before {
      content: "\0025cf   ";
    }

    ul.lst-kix_list_13-5 {
      list-style-type: none;
    }

    ul.lst-kix_list_13-4 {
      list-style-type: none;
    }

    ul.lst-kix_list_13-3 {
      list-style-type: none;
    }

    .lst-kix_list_3-6 > li:before {
      content: "\0025cf   ";
    }

    ul.lst-kix_list_13-2 {
      list-style-type: none;
    }

    ul.lst-kix_list_13-1 {
      list-style-type: none;
    }

    .lst-kix_list_3-7 > li:before {
      content: "\0025cb   ";
    }

    ul.lst-kix_list_13-0 {
      list-style-type: none;
    }

    .lst-kix_list_8-4 > li:before {
      content: "\0025cb   ";
    }

    .lst-kix_list_11-2 > li:before {
      content: "\0025a0   ";
    }

    ul.lst-kix_list_13-8 {
      list-style-type: none;
    }

    .lst-kix_list_11-1 > li:before {
      content: "\0025cb   ";
    }

    ul.lst-kix_list_13-7 {
      list-style-type: none;
    }

    ul.lst-kix_list_13-6 {
      list-style-type: none;
    }

    .lst-kix_list_11-0 > li:before {
      content: "\0025a0   ";
    }

    .lst-kix_list_8-8 > li:before {
      content: "\0025a0   ";
    }

    .lst-kix_list_16-8 > li:before {
      content: "\0025a0   ";
    }

    .lst-kix_list_16-7 > li:before {
      content: "\0025cb   ";
    }

    .lst-kix_list_16-6 > li:before {
      content: "\0025cf   ";
    }

    .lst-kix_list_4-8 > li:before {
      content: "\0025a0   ";
    }

    .lst-kix_list_4-7 > li:before {
      content: "\0025cb   ";
    }

    .lst-kix_list_17-0 > li:before {
      content: "\0025a0   ";
    }

    .lst-kix_list_17-1 > li:before {
      content: "\0025cb   ";
    }

    ul.lst-kix_list_4-8 {
      list-style-type: none;
    }

    .lst-kix_list_16-0 > li:before {
      content: "\0025a0   ";
    }

    ul.lst-kix_list_4-6 {
      list-style-type: none;
    }

    .lst-kix_list_16-1 > li:before {
      content: "\0025cb   ";
    }

    ul.lst-kix_list_4-7 {
      list-style-type: none;
    }

    .lst-kix_list_16-2 > li:before {
      content: "\0025a0   ";
    }

    ul.lst-kix_list_4-0 {
      list-style-type: none;
    }

    .lst-kix_list_16-4 > li:before {
      content: "\0025cb   ";
    }

    ul.lst-kix_list_4-1 {
      list-style-type: none;
    }

    .lst-kix_list_16-3 > li:before {
      content: "\0025cf   ";
    }

    .lst-kix_list_16-5 > li:before {
      content: "\0025a0   ";
    }

    ul.lst-kix_list_4-4 {
      list-style-type: none;
    }

    ul.lst-kix_list_4-5 {
      list-style-type: none;
    }

    ul.lst-kix_list_4-2 {
      list-style-type: none;
    }

    ul.lst-kix_list_4-3 {
      list-style-type: none;
    }

    ul.lst-kix_list_12-6 {
      list-style-type: none;
    }

    ul.lst-kix_list_12-5 {
      list-style-type: none;
    }

    .lst-kix_list_17-7 > li:before {
      content: "\0025cb   ";
    }

    ul.lst-kix_list_12-4 {
      list-style-type: none;
    }

    ul.lst-kix_list_12-3 {
      list-style-type: none;
    }

    ul.lst-kix_list_12-2 {
      list-style-type: none;
    }

    ul.lst-kix_list_12-1 {
      list-style-type: none;
    }

    .lst-kix_list_17-8 > li:before {
      content: "\0025a0   ";
    }

    ul.lst-kix_list_12-0 {
      list-style-type: none;
    }

    .lst-kix_list_17-3 > li:before {
      content: "\0025cf   ";
    }

    .lst-kix_list_17-2 > li:before {
      content: "\0025a0   ";
    }

    .lst-kix_list_17-4 > li:before {
      content: "\0025cb   ";
    }

    ul.lst-kix_list_12-8 {
      list-style-type: none;
    }

    ul.lst-kix_list_12-7 {
      list-style-type: none;
    }

    .lst-kix_list_17-6 > li:before {
      content: "\0025cf   ";
    }

    .lst-kix_list_7-0 > li:before {
      content: "\0025a0   ";
    }

    .lst-kix_list_17-5 > li:before {
      content: "\0025a0   ";
    }

    .lst-kix_list_2-6 > li:before {
      content: "\0025cf   ";
    }

    .lst-kix_list_2-4 > li:before {
      content: "\0025cb   ";
    }

    .lst-kix_list_2-8 > li:before {
      content: "\0025a0   ";
    }

    .lst-kix_list_7-1 > li:before {
      content: "\0025cb   ";
    }

    .lst-kix_list_7-5 > li:before {
      content: "\0025a0   ";
    }

    .lst-kix_list_7-3 > li:before {
      content: "\0025cf   ";
    }

    ul.lst-kix_list_7-5 {
      list-style-type: none;
    }

    .lst-kix_list_10-0 > li:before {
      content: "\0025a0   ";
    }

    ul.lst-kix_list_7-6 {
      list-style-type: none;
    }

    .lst-kix_list_18-5 > li:before {
      content: "\0025a0   ";
    }

    ul.lst-kix_list_7-3 {
      list-style-type: none;
    }

    ul.lst-kix_list_7-4 {
      list-style-type: none;
    }

    .lst-kix_list_13-6 > li:before {
      content: "\0025cf   ";
    }

    .lst-kix_list_13-8 > li:before {
      content: "\0025a0   ";
    }

    .lst-kix_list_18-3 > li:before {
      content: "\0025cf   ";
    }

    .lst-kix_list_18-7 > li:before {
      content: "\0025cb   ";
    }

    ul.lst-kix_list_7-7 {
      list-style-type: none;
    }

    ul.lst-kix_list_7-8 {
      list-style-type: none;
    }

    ul.lst-kix_list_7-1 {
      list-style-type: none;
    }

    ul.lst-kix_list_7-2 {
      list-style-type: none;
    }

    ul.lst-kix_list_7-0 {
      list-style-type: none;
    }

    .lst-kix_list_7-7 > li:before {
      content: "\0025cb   ";
    }

    .lst-kix_list_15-4 > li:before {
      content: "\0025cb   ";
    }

    .lst-kix_list_15-6 > li:before {
      content: "\0025cf   ";
    }

    .lst-kix_list_10-4 > li:before {
      content: "\0025cb   ";
    }

    .lst-kix_list_10-8 > li:before {
      content: "\0025a0   ";
    }

    .lst-kix_list_4-0 > li:before {
      content: "\0025a0   ";
    }

    ul.lst-kix_list_15-3 {
      list-style-type: none;
    }

    ul.lst-kix_list_15-2 {
      list-style-type: none;
    }

    .lst-kix_list_15-0 > li:before {
      content: "\0025a0   ";
    }

    ul.lst-kix_list_15-1 {
      list-style-type: none;
    }

    .lst-kix_list_15-8 > li:before {
      content: "\0025a0   ";
    }

    ul.lst-kix_list_15-0 {
      list-style-type: none;
    }

    .lst-kix_list_10-2 > li:before {
      content: "\0025a0   ";
    }

    .lst-kix_list_4-4 > li:before {
      content: "\0025cb   ";
    }

    ul.lst-kix_list_15-8 {
      list-style-type: none;
    }

    .lst-kix_list_4-2 > li:before {
      content: "\0025a0   ";
    }

    .lst-kix_list_4-6 > li:before {
      content: "\0025cf   ";
    }

    ul.lst-kix_list_15-7 {
      list-style-type: none;
    }

    ul.lst-kix_list_15-6 {
      list-style-type: none;
    }

    .lst-kix_list_9-3 > li:before {
      content: "\0025cf   ";
    }

    ul.lst-kix_list_15-5 {
      list-style-type: none;
    }

    ul.lst-kix_list_15-4 {
      list-style-type: none;
    }

    .lst-kix_list_15-2 > li:before {
      content: "\0025a0   ";
    }

    .lst-kix_list_10-6 > li:before {
      content: "\0025cf   ";
    }

    .lst-kix_list_9-1 > li:before {
      content: "\0025cb   ";
    }

    .lst-kix_list_9-7 > li:before {
      content: "\0025cb   ";
    }

    .lst-kix_list_11-4 > li:before {
      content: "\0025cb   ";
    }

    .lst-kix_list_12-4 > li:before {
      content: "\0025cb   ";
    }

    .lst-kix_list_9-5 > li:before {
      content: "\0025a0   ";
    }

    ul.lst-kix_list_6-6 {
      list-style-type: none;
    }

    ul.lst-kix_list_6-7 {
      list-style-type: none;
    }

    ul.lst-kix_list_6-4 {
      list-style-type: none;
    }

    ul.lst-kix_list_6-5 {
      list-style-type: none;
    }

    ul.lst-kix_list_6-8 {
      list-style-type: none;
    }

    .lst-kix_list_12-2 > li:before {
      content: "\0025a0   ";
    }

    .lst-kix_list_11-6 > li:before {
      content: "\0025cf   ";
    }

    .lst-kix_list_1-0 > li:before {
      content: "\0025a0   ";
    }

    ul.lst-kix_list_6-2 {
      list-style-type: none;
    }

    .lst-kix_list_11-8 > li:before {
      content: "\0025a0   ";
    }

    ul.lst-kix_list_6-3 {
      list-style-type: none;
    }

    .lst-kix_list_1-2 > li:before {
      content: "\0025a0   ";
    }

    ul.lst-kix_list_6-0 {
      list-style-type: none;
    }

    .lst-kix_list_12-0 > li:before {
      content: "\0025a0   ";
    }

    ul.lst-kix_list_6-1 {
      list-style-type: none;
    }

    .lst-kix_list_1-4 > li:before {
      content: "\0025cb   ";
    }

    .lst-kix_list_13-0 > li:before {
      content: "\0025a0   ";
    }

    ul.lst-kix_list_14-4 {
      list-style-type: none;
    }

    ul.lst-kix_list_14-3 {
      list-style-type: none;
    }

    ul.lst-kix_list_14-2 {
      list-style-type: none;
    }

    .lst-kix_list_13-4 > li:before {
      content: "\0025cb   ";
    }

    ul.lst-kix_list_14-1 {
      list-style-type: none;
    }

    ul.lst-kix_list_14-0 {
      list-style-type: none;
    }

    .lst-kix_list_1-6 > li:before {
      content: "\0025cf   ";
    }

    li.li-bullet-0:before {
      margin-left: -18pt;
      white-space: nowrap;
      display: inline-block;
      min-width: 18pt;
    }

    ul.lst-kix_list_14-8 {
      list-style-type: none;
    }

    ul.lst-kix_list_14-7 {
      list-style-type: none;
    }

    .lst-kix_list_2-0 > li:before {
      content: "\0025a0   ";
    }

    .lst-kix_list_12-6 > li:before {
      content: "\0025cf   ";
    }

    ul.lst-kix_list_14-6 {
      list-style-type: none;
    }

    ul.lst-kix_list_14-5 {
      list-style-type: none;
    }

    .lst-kix_list_1-8 > li:before {
      content: "\0025a0   ";
    }

    .lst-kix_list_2-2 > li:before {
      content: "\0025a0   ";
    }

    .lst-kix_list_13-2 > li:before {
      content: "\0025a0   ";
    }

    .lst-kix_list_12-8 > li:before {
      content: "\0025a0   ";
    }

    ol {
      margin: 0;
      padding: 0;
    }

    table td,
    table th {
      padding: 0;
    }

    .c10 {
      border-right-style: solid;
      border-top-width: 0pt;
      border-bottom-color: #e5e5e5;
      border-right-width: 0pt;
      padding-left: 0pt;
      border-left-color: #e5e5e5;
      border-right-color: #e5e5e5;
      border-left-width: 0pt;
      border-top-style: solid;
      margin-left: 36pt;
      border-left-style: solid;
      border-bottom-width: 0pt;
      border-top-color: #e5e5e5;
      border-bottom-style: solid;
      padding-right: 0pt;
    }

    .c17 {
      border-right-style: solid;
      border-top-width: 0pt;
      border-bottom-color: #e5e5e5;
      border-right-width: 0pt;
      padding-left: 0pt;
      border-left-color: #e5e5e5;
      border-right-color: #e5e5e5;
      border-left-width: 0pt;
      border-top-style: solid;
      border-left-style: solid;
      border-bottom-width: 0pt;
      border-top-color: #e5e5e5;
      border-bottom-style: solid;
      padding-right: 0pt;
    }

    .c8 {
      -webkit-text-decoration-skip: none;
      color: #003afa;
      font-weight: 400;
      text-decoration: underline;
      vertical-align: baseline;
      text-decoration-skip-ink: none;
      font-size: 10.5pt;
      font-family: "Arial";
      font-style: normal;
    }

    .c11 {
      color: #000000;
      font-weight: 400;
      text-decoration: none;
      vertical-align: baseline;
      font-size: 11pt;
      font-family: "Arial";
      font-style: normal;
    }

    .c4 {
      color: #595959;
      font-weight: 400;
      text-decoration: none;
      vertical-align: baseline;
      font-size: 10.5pt;
      font-family: "Arial";
      font-style: normal;
    }

    .c0 {
      color: #595959;
      font-weight: 400;
      text-decoration: none;
      vertical-align: baseline;
      font-size: 10.5pt;
      font-family: "Arial";
      font-style: italic;
    }

    .c16 {
      color: #0a0a0a;
      font-weight: 400;
      text-decoration: none;
      vertical-align: baseline;
      font-size: 11.5pt;
      font-family: "Inter";
      font-style: normal;
    }

    .c19 {
      color: #0a0a0a;
      font-weight: 400;
      text-decoration: none;
      vertical-align: baseline;
      font-size: 11pt;
      font-family: "Inter";
      font-style: normal;
    }

    .c18 {
      color: #000000;
      font-weight: 700;
      text-decoration: none;
      vertical-align: baseline;
      font-size: 14.5pt;
      font-family: "Arial";
      font-style: normal;
    }

    .c25 {
      padding-top: 0pt;
      padding-bottom: 0pt;
      line-height: 1.1500000000000001;
      orphans: 2;
      widows: 2;
      text-align: left;
    }

    .c1 {
      padding-top: 0pt;
      padding-bottom: 0pt;
      line-height: 1.5;
      orphans: 2;
      widows: 2;
      text-align: left;
    }

    .c5 {
      text-decoration-skip-ink: none;
      font-size: 10.5pt;
      -webkit-text-decoration-skip: none;
      color: #595959;
      text-decoration: underline;
    }

    .c9 {
      text-decoration-skip-ink: none;
      font-size: 10.5pt;
      -webkit-text-decoration-skip: none;
      color: #003afa;
      text-decoration: underline;
    }

    .c21 {
      font-weight: 700;
      text-decoration: none;
      vertical-align: baseline;
      font-family: "Arial";
      font-style: normal;
    }

    .c27 {
      font-weight: 400;
      text-decoration: none;
      vertical-align: baseline;
      font-family: "Inter";
      font-style: normal;
    }

    .c22 {
      text-decoration-skip-ink: none;
      font-size: 11.5pt;
      -webkit-text-decoration-skip: none;
      color: #003afa;
      text-decoration: underline;
    }

    .c12 {
      text-decoration-skip-ink: none;
      font-size: 10.5pt;
      -webkit-text-decoration-skip: none;
      color: #3030f1;
      text-decoration: underline;
    }

    .c20 {
      font-weight: 400;
      text-decoration: none;
      vertical-align: baseline;
      font-family: "Arial";
      font-style: normal;
    }

    .c26 {
      font-weight: 400;
      vertical-align: baseline;
      font-family: "Arial";
      font-style: normal;
    }

    .c29 {
      background-color: #ffffff;
      max-width: 468pt;
      padding: 72pt 72pt 72pt 72pt;
    }

    .c28 {
      color: #000000;
      font-size: 19.5pt;
    }

    .c13 {
      color: #003afa;
      font-size: 10.5pt;
    }

    .c24 {
      color: #000000;
      font-size: 10.5pt;
    }

    .c23 {
      color: #000000;
      font-size: 13pt;
    }

    .c2 {
      color: inherit;
      text-decoration: inherit;
    }

    .c15 {
      padding: 0;
      margin: 0;
    }

    .c6 {
      color: #595959;
      font-size: 11.5pt;
    }

    .c7 {
      color: #595959;
      font-size: 10.5pt;
    }

    .c3 {
      height: 11pt;
    }

    .c14 {
      font-style: italic;
    }

    .title {
      padding-top: 0pt;
      color: #000000;
      font-size: 26pt;
      padding-bottom: 3pt;
      font-family: "Arial";
      line-height: 1.1500000000000001;
      page-break-after: avoid;
      orphans: 2;
      widows: 2;
      text-align: left;
    }

    .subtitle {
      padding-top: 0pt;
      color: #666666;
      font-size: 15pt;
      padding-bottom: 16pt;
      font-family: "Arial";
      line-height: 1.1500000000000001;
      page-break-after: avoid;
      orphans: 2;
      widows: 2;
      text-align: left;
    }

    li {
      color: #000000;
      font-size: 11pt;
      font-family: "Arial";
    }

    p {
      margin: 0;
      color: #000000;
      font-size: 11pt;
      font-family: "Arial";
    }

    h1 {
      padding-top: 20pt;
      color: #000000;
      font-size: 20pt;
      padding-bottom: 6pt;
      font-family: "Arial";
      line-height: 1.1500000000000001;
      page-break-after: avoid;
      orphans: 2;
      widows: 2;
      text-align: left;
    }

    h2 {
      padding-top: 18pt;
      color: #000000;
      font-size: 16pt;
      padding-bottom: 6pt;
      font-family: "Arial";
      line-height: 1.1500000000000001;
      page-break-after: avoid;
      orphans: 2;
      widows: 2;
      text-align: left;
    }

    h3 {
      padding-top: 16pt;
      color: #434343;
      font-size: 14pt;
      padding-bottom: 4pt;
      font-family: "Arial";
      line-height: 1.1500000000000001;
      page-break-after: avoid;
      orphans: 2;
      widows: 2;
      text-align: left;
    }

    h4 {
      padding-top: 14pt;
      color: #666666;
      font-size: 12pt;
      padding-bottom: 4pt;
      font-family: "Arial";
      line-height: 1.1500000000000001;
      page-break-after: avoid;
      orphans: 2;
      widows: 2;
      text-align: left;
    }

    h5 {
      padding-top: 12pt;
      color: #666666;
      font-size: 11pt;
      padding-bottom: 4pt;
      font-family: "Arial";
      line-height: 1.1500000000000001;
      page-break-after: avoid;
      orphans: 2;
      widows: 2;
      text-align: left;
    }

    h6 {
      padding-top: 12pt;
      color: #666666;
      font-size: 11pt;
      padding-bottom: 4pt;
      font-family: "Arial";
      line-height: 1.1500000000000001;
      page-break-after: avoid;
      font-style: italic;
      orphans: 2;
      widows: 2;
      text-align: left;
    }
  </style>
  <Navbar />
  <main>
    <div class="container mx-auto px-4 py-8 sm:px-6 lg:px-8">
      <h1 class="text-2xl font-bold">Política de privacidad</h1>
      <br />
      <div class="mx-auto max-w-5xl">
        <h1 class="c17 c25" id="h.q2gcuibyrwn4">
          <span class="c21 c28">POL&Iacute;TICA DE PRIVACIDAD</span>
        </h1>
        <p class="c25">
          <span class="c4"
            >&Uacute;ltima actualizaci&oacute;n: 1 de mayo de 2025</span
          >
        </p>
        <p class="c25 c3"><span class="c19"></span></p>
        <p class="c25 c3"><span class="c19"></span></p>
        <p class="c25 c3"><span class="c19"></span></p>
        <p class="c1">
          <span class="c4"
            >Este Aviso de Privacidad para Brian Caldera (&quot;nosotros&quot;,
            &quot;nos&quot; o &quot;nuestro&quot;) describe c&oacute;mo y por
            qu&eacute; podr&iacute;amos acceder, recopilar, almacenar, usar y/o
            compartir (&quot;procesar&quot;) su informaci&oacute;n personal
            cuando utiliza nuestros servicios (&quot;Servicios&quot;), incluso
            cuando:</span
          >
        </p>
        <ul class="c15 lst-kix_list_8-0 start">
          <li class="c10 c1 li-bullet-0">
            <span class="c7"
              >Descargue y utilice nuestra aplicaci&oacute;n m&oacute;vil (Tu
              Bol&iacute;var Hoy), o cualquier otra aplicaci&oacute;n nuestra
              que se vincule con este Aviso de Privacidad</span
            >
          </li>
        </ul>
        <ul class="c15 lst-kix_list_2-0 start">
          <li class="c10 c1 li-bullet-0">
            <span class="c7"
              >Interact&uacute;e con nosotros de otras formas relacionadas,
              incluidas ventas, marketing o eventos.</span
            >
          </li>
        </ul>
        <p class="c1">
          <span class="c4"
            >&iquest;Tiene preguntas o inquietudes? Leer este Aviso de
            Privacidad le ayudar&aacute; a comprender sus derechos y opciones en
            materia de privacidad. Somos responsables de tomar decisiones sobre
            c&oacute;mo procesamos su informaci&oacute;n personal. Si no
            est&aacute; de acuerdo con nuestras pol&iacute;ticas y
            pr&aacute;cticas, le rogamos que no utilice nuestros Servicios. Si
            a&uacute;n tiene alguna pregunta o inquietud, cont&aacute;ctenos en
            briancaldera07@gmail.com.</span
          >
        </p>
        <p class="c1 c3"><span class="c19"></span></p>
        <p class="c1 c3"><span class="c19"></span></p>
        <h2 class="c17 c1" id="h.7kedchwe7hcw">
          <span class="c18">RESUMEN DE PUNTOS CLAVE</span>
        </h2>
        <p class="c1">
          <span class="c7 c14"
            >Este resumen proporciona puntos clave de nuestro Aviso de
            Privacidad, pero puede encontrar m&aacute;s detalles sobre
            cualquiera de estos temas haciendo clic en el enlace que sigue a
            cada punto clave o utilizando nuestra
          </span><span class="c12 c14"
            ><a
              class="c2"
              href="https://www.google.com/url?q=http://localhost:4321/tubolivarhoy/privacy%23toc&sa=D&source=editors&ust=1746070268988261&usg=AOvVaw36AI5tajY0KVk8DUVx9ftE"
              >tabla de contenido
            </a></span
          ><span class="c0"
            >a continuaci&oacute;n para encontrar la secci&oacute;n que
            est&aacute; buscando.</span
          >
        </p>
        <p class="c1 c3"><span class="c19"></span></p>
        <p class="c1">
          <span class="c7"
            >&iquest;Qu&eacute; informaci&oacute;n personal procesamos? Cuando
            visita, usa o navega por nuestros Servicios, podemos procesar
            informaci&oacute;n personal seg&uacute;n c&oacute;mo
            interact&uacute;e con nosotros y los Servicios, las decisiones que
            tome y los productos y funciones que utilice. Obtenga m&aacute;s
            informaci&oacute;n sobre
          </span><span class="c12"
            ><a
              class="c2"
              href="https://www.google.com/url?q=http://localhost:4321/tubolivarhoy/privacy%23personalinfo&sa=D&source=editors&ust=1746070268989328&usg=AOvVaw1xMAw9u1wreLl4DrWw-IiR"
              >la informaci&oacute;n personal que nos divulga
            </a></span
          ><span class="c4">.</span>
        </p>
        <p class="c1 c3"><span class="c19"></span></p>
        <p class="c1">
          <span class="c4"
            >&iquest;Procesamos informaci&oacute;n personal sensible? Alguna
            informaci&oacute;n puede considerarse &quot;especial&quot; o
            &quot;sensible&quot; en ciertas jurisdicciones, por ejemplo, su
            origen racial o &eacute;tnico, su orientaci&oacute;n sexual y sus
            creencias religiosas. No procesamos informaci&oacute;n personal
            sensible.</span
          >
        </p>
        <p class="c1 c3"><span class="c19"></span></p>
        <p class="c1">
          <span class="c4"
            >&iquest;Recopilamos informaci&oacute;n de terceros? No recopilamos
            informaci&oacute;n de terceros.</span
          >
        </p>
        <p class="c1 c3"><span class="c19"></span></p>
        <p class="c1">
          <span class="c7"
            >&iquest;C&oacute;mo procesamos su informaci&oacute;n? Procesamos su
            informaci&oacute;n para proporcionar, mejorar y administrar nuestros
            Servicios, comunicarnos con usted, por motivos de seguridad y
            prevenci&oacute;n del fraude, y para cumplir con la ley.
            Tambi&eacute;n podemos procesar su informaci&oacute;n para otros
            fines con su consentimiento. Procesamos su informaci&oacute;n
            &uacute;nicamente cuando tenemos una raz&oacute;n legal
            v&aacute;lida para hacerlo. Obtenga m&aacute;s informaci&oacute;n
            sobre
          </span><span class="c12"
            ><a
              class="c2"
              href="https://www.google.com/url?q=http://localhost:4321/tubolivarhoy/privacy%23infouse&sa=D&source=editors&ust=1746070268991321&usg=AOvVaw2yMt8bT-AwK8Xr7k9uE6s9"
              >c&oacute;mo procesamos su informaci&oacute;n
            </a></span
          ><span class="c4">.</span>
        </p>
        <p class="c1 c3"><span class="c19"></span></p>
        <p class="c1">
          <span class="c7"
            >&iquest;En qu&eacute; situaciones y con qu&eacute; tipos de
            terceros compartimos informaci&oacute;n personal? Podemos compartir
            informaci&oacute;n en situaciones espec&iacute;ficas y con
            categor&iacute;as espec&iacute;ficas de terceros. Obtenga m&aacute;s
            informaci&oacute;n sobre
          </span><span class="c12"
            ><a
              class="c2"
              href="https://www.google.com/url?q=http://localhost:4321/tubolivarhoy/privacy%23whoshare&sa=D&source=editors&ust=1746070268992133&usg=AOvVaw1aOYKqW4pinV9u9fY8qs13"
              >cu&aacute;ndo y con qui&eacute;n compartimos su
              informaci&oacute;n personal
            </a></span
          ><span class="c4">.</span>
        </p>
        <p class="c1 c3"><span class="c19"></span></p>
        <p class="c1">
          <span class="c7"
            >&iquest;C&oacute;mo mantenemos segura su informaci&oacute;n?
            Contamos con procesos y procedimientos organizativos y
            t&eacute;cnicos adecuados para proteger su informaci&oacute;n
            personal. Sin embargo, ninguna transmisi&oacute;n electr&oacute;nica
            por internet ni tecnolog&iacute;a de almacenamiento de
            informaci&oacute;n puede garantizarse al 100 % de seguridad, por lo
            que no podemos prometer ni garantizar que hackers, ciberdelincuentes
            u otros terceros no autorizados no puedan vulnerar nuestra seguridad
            y recopilar, acceder, robar o modificar su informaci&oacute;n de
            forma indebida. Obtenga m&aacute;s informaci&oacute;n sobre
          </span><span class="c12"
            ><a
              class="c2"
              href="https://www.google.com/url?q=http://localhost:4321/tubolivarhoy/privacy%23infosafe&sa=D&source=editors&ust=1746070268993433&usg=AOvVaw11YeU53xpQLF3-oPK_NeyY"
              >c&oacute;mo mantenemos segura su informaci&oacute;n
            </a></span
          ><span class="c4">.</span>
        </p>
        <p class="c1 c3"><span class="c19"></span></p>
        <p class="c1">
          <span class="c7"
            >&iquest;Cu&aacute;les son sus derechos? Dependiendo de su
            ubicaci&oacute;n geogr&aacute;fica, la legislaci&oacute;n de
            privacidad aplicable podr&iacute;a implicar que tenga ciertos
            derechos con respecto a su informaci&oacute;n personal. Obtenga
            m&aacute;s informaci&oacute;n sobre
          </span><span class="c12"
            ><a
              class="c2"
              href="https://www.google.com/url?q=http://localhost:4321/tubolivarhoy/privacy%23privacyrights&sa=D&source=editors&ust=1746070268994160&usg=AOvVaw3TDlzPJDmDoRjBbpaerCG-"
              >sus derechos de privacidad
            </a></span
          ><span class="c4">.</span>
        </p>
        <p class="c1 c3"><span class="c19"></span></p>
        <p class="c1">
          <span class="c7"
            >&iquest;C&oacute;mo ejercer sus derechos? La forma m&aacute;s
            sencilla de ejercerlos es enviando una
          </span><span class="c12"
            ><a
              class="c2"
              href="https://www.google.com/url?q=https://app.termly.io/notify/48b52a84-0dea-4589-854a-10dc9d8ca2e0&sa=D&source=editors&ust=1746070268994699&usg=AOvVaw0HD3FV6Cxnhm58weV-er5J"
              >solicitud de acceso a sus datos
            </a></span
          ><span class="c4"
            >o poni&eacute;ndose en contacto con nosotros. Consideraremos y
            atenderemos cualquier solicitud de conformidad con la
            legislaci&oacute;n aplicable en materia de protecci&oacute;n de
            datos.</span
          >
        </p>
        <p class="c1 c3"><span class="c19"></span></p>
        <p class="c1">
          <span class="c7"
            >&iquest;Quiere saber m&aacute;s sobre c&oacute;mo gestionamos la
            informaci&oacute;n que recopilamos?
          </span><span class="c12"
            ><a
              class="c2"
              href="https://www.google.com/url?q=http://localhost:4321/tubolivarhoy/privacy%23toc&sa=D&source=editors&ust=1746070268995439&usg=AOvVaw3VIN19dlKV2KaPoeMZoPin"
              >Consulte el Aviso de Privacidad completo
            </a></span
          ><span class="c4">.</span>
        </p>
        <p class="c1 c3"><span class="c19"></span></p>
        <p class="c1 c3"><span class="c19"></span></p>
        <h2 class="c17 c1" id="h.j4wvyr9xq42h">
          <span class="c18">TABLA DE CONTENIDO</span>
        </h2>
        <p class="c1">
          <span class="c9"
            ><a
              class="c2"
              href="https://www.google.com/url?q=http://localhost:4321/tubolivarhoy/privacy%23infocollect&sa=D&source=editors&ust=1746070268996019&usg=AOvVaw09DtHTdMIyjrSXTJqd3FkH"
              >1. &iquest;QU&Eacute; INFORMACI&Oacute;N RECOPILAMOS?</a
            ></span
          >
        </p>
        <p class="c1">
          <span class="c9"
            ><a
              class="c2"
              href="https://www.google.com/url?q=http://localhost:4321/tubolivarhoy/privacy%23infouse&sa=D&source=editors&ust=1746070268996289&usg=AOvVaw2oDBcK2lw_D9KZx1IEAcQu"
              >2. &iquest;C&Oacute;MO PROCESAMOS SU INFORMACI&Oacute;N?</a
            ></span
          >
        </p>
        <p class="c1">
          <span class="c12"
            ><a
              class="c2"
              href="https://www.google.com/url?q=http://localhost:4321/tubolivarhoy/privacy%23whoshare&sa=D&source=editors&ust=1746070268996601&usg=AOvVaw13RQEXr80SD42IajYPBUCu"
              >3. &iquest;CU&Aacute;NDO Y CON QUI&Eacute;N COMPARTIMOS SU
              INFORMACI&Oacute;N PERSONAL?</a
            ></span
          >
        </p>
        <p class="c1">
          <span class="c12"
            ><a
              class="c2"
              href="https://www.google.com/url?q=http://localhost:4321/tubolivarhoy/privacy%233pwebsites&sa=D&source=editors&ust=1746070268996923&usg=AOvVaw0nnWUmtBCtrJq8NcM6L3Hv"
              >4. &iquest;CU&Aacute;L ES NUESTRA POSTURA SOBRE LOS SITIOS WEB DE
              TERCEROS?</a
            ></span
          >
        </p>
        <p class="c1">
          <span class="c9"
            ><a
              class="c2"
              href="https://www.google.com/url?q=http://localhost:4321/tubolivarhoy/privacy%23cookies&sa=D&source=editors&ust=1746070268997214&usg=AOvVaw1Sg0YcnyiRgLANADujjz4_"
              >5. &iquest;UTILIZAMOS COOKIES Y OTRAS TECNOLOG&Iacute;AS DE
              SEGUIMIENTO?</a
            ></span
          >
        </p>
        <p class="c1">
          <span class="c9"
            ><a
              class="c2"
              href="https://www.google.com/url?q=http://localhost:4321/tubolivarhoy/privacy%23inforetain&sa=D&source=editors&ust=1746070268997568&usg=AOvVaw1W54pAUc3uiq3YaQDEqhmJ"
              >6. &iquest;DURANTE CU&Aacute;NTO TIEMPO CONSERVAMOS SU
              INFORMACI&Oacute;N?</a
            ></span
          >
        </p>
        <p class="c1">
          <span class="c9"
            ><a
              class="c2"
              href="https://www.google.com/url?q=http://localhost:4321/tubolivarhoy/privacy%23infosafe&sa=D&source=editors&ust=1746070268997910&usg=AOvVaw3SHOJkMXkTQTOue5l_hfhc"
              >7. &iquest;C&Oacute;MO MANTENEMOS SEGURA SU INFORMACI&Oacute;N?</a
            ></span
          >
        </p>
        <p class="c1">
          <span class="c9"
            ><a
              class="c2"
              href="https://www.google.com/url?q=http://localhost:4321/tubolivarhoy/privacy%23infominors&sa=D&source=editors&ust=1746070268998215&usg=AOvVaw3a3esG3Ky3L7zyQCjJmHMG"
              >8. &iquest;RECOGEMOS INFORMACI&Oacute;N DE MENORES?</a
            ></span
          >
        </p>
        <p class="c1">
          <span class="c12"
            ><a
              class="c2"
              href="https://www.google.com/url?q=http://localhost:4321/tubolivarhoy/privacy%23privacyrights&sa=D&source=editors&ust=1746070268998507&usg=AOvVaw26ztzKCrsYJzhZauyvIR3x"
              >9. &iquest;CU&Aacute;LES SON SUS DERECHOS DE PRIVACIDAD?</a
            ></span
          >
        </p>
        <p class="c1">
          <span class="c8"
            ><a
              class="c2"
              href="https://www.google.com/url?q=http://localhost:4321/tubolivarhoy/privacy%23DNT&sa=D&source=editors&ust=1746070268998791&usg=AOvVaw3KupmFi3J6wxh2FmZGIN0l"
              >10. CONTROLES PARA LAS FUNCIONES DE NO SEGUIMIENTO</a
            ></span
          >
        </p>
        <p class="c1">
          <span class="c9"
            ><a
              class="c2"
              href="https://www.google.com/url?q=http://localhost:4321/tubolivarhoy/privacy%23policyupdates&sa=D&source=editors&ust=1746070268999045&usg=AOvVaw1-cbiBiJl484QhfvImnSep"
              >11. &iquest;HACEMOS ACTUALIZACIONES A ESTE AVISO?</a
            ></span
          >
        </p>
        <p class="c1">
          <span class="c22"
            ><a
              class="c2"
              href="https://www.google.com/url?q=http://localhost:4321/tubolivarhoy/privacy%23contact&sa=D&source=editors&ust=1746070268999337&usg=AOvVaw1w4gZ7YRkdfplmeUfIIV5K"
              >12. &iquest;C&Oacute;MO PUEDE CONTACTARNOS SOBRE ESTE AVISO?</a
            ></span
          >
        </p>
        <p class="c1">
          <span class="c9"
            ><a
              class="c2"
              href="https://www.google.com/url?q=http://localhost:4321/tubolivarhoy/privacy%23request&sa=D&source=editors&ust=1746070268999685&usg=AOvVaw0wvV6dWv2uQMBZLiwY2MCU"
              >13. &iquest;C&Oacute;MO PUEDE REVISAR, ACTUALIZAR O ELIMINAR LOS
              DATOS QUE RECOPILAMOS DE USTED?</a
            ></span
          >
        </p>
        <p class="c1 c3"><span class="c16"></span></p>
        <p class="c1 c3"><span class="c16"></span></p>
        <h2 class="c1 c17" id="h.86iopuxnxhdr">
          <span class="c18"
            >1. &iquest;QU&Eacute; INFORMACI&Oacute;N RECOPILAMOS?</span
          >
        </h2>
        <h3 class="c17 c1" id="h.ayijyu7q2q4f">
          <span class="c21 c23"
            >Informaci&oacute;n personal que usted nos revela</span
          >
        </h3>
        <p class="c1">
          <span class="c0"
            >En resumen: Recopilamos la informaci&oacute;n personal que usted
            nos proporciona.</span
          >
        </p>
        <p class="c1 c3"><span class="c16"></span></p>
        <p class="c1">
          <span class="c4"
            >Recopilamos informaci&oacute;n personal que usted nos proporciona
            voluntariamente cuando expresa inter&eacute;s en obtener
            informaci&oacute;n sobre nosotros o nuestros productos y Servicios,
            cuando participa en actividades en los Servicios o cuando se
            comunica con nosotros.</span
          >
        </p>
        <p class="c1 c3"><span class="c16"></span></p>
        <p class="c1">
          <span class="c4"
            >Informaci&oacute;n sensible. No procesamos informaci&oacute;n
            sensible.</span
          >
        </p>
        <p class="c1 c3"><span class="c19"></span></p>
        <p class="c1">
          <span class="c7"
            >Datos de pago. Si decide realizar compras, podr&iacute;amos
            recopilar los datos necesarios para procesar su pago, como el
            n&uacute;mero y el c&oacute;digo de seguridad de su instrumento de
            pago. Todos los datos de pago son gestionados y almacenados por
            Revenue Cat. Puede encontrar el enlace a su aviso de privacidad
            aqu&iacute;:
          </span><span class="c5"
            ><a
              class="c2"
              href="https://www.google.com/url?q=https://www.revenuecat.com/privacy/&sa=D&source=editors&ust=1746070269002402&usg=AOvVaw1DAIBmTG97ZTS_5zbK0LqN"
              >https://www.revenuecat.com/privacy/
            </a></span
          ><span class="c4">.</span>
        </p>
        <p class="c1 c3"><span class="c4"></span></p>
        <p class="c1">
          <span class="c7">Datos de la aplicaci&oacute;n. </span><span
            class="c6 c20"
            >Si utiliza nuestras aplicaciones, tambi&eacute;n podr&iacute;amos
            recopilar la siguiente informaci&oacute;n si decide concedernos
            acceso o permiso:</span
          >
        </p>
        <ul class="c15 lst-kix_list_14-0 start">
          <li class="c10 c1 li-bullet-0">
            <span class="c7 c14"
              >Datos del dispositivo m&oacute;vil.
            </span><span class="c7"
              >Recopilamos autom&aacute;ticamente informaci&oacute;n del
              dispositivo (como el ID, modelo y fabricante de su dispositivo
              m&oacute;vil), el sistema operativo, la informaci&oacute;n de la
              versi&oacute;n y la configuraci&oacute;n del sistema, los
              n&uacute;meros de identificaci&oacute;n del dispositivo y de la
              aplicaci&oacute;n, el tipo y la versi&oacute;n del navegador, el
              modelo de hardware, el proveedor de servicios de internet o el
              operador de telefon&iacute;a m&oacute;vil, y la direcci&oacute;n
              IP (o servidor proxy). Si utiliza nuestras aplicaciones,
              tambi&eacute;n podemos recopilar informaci&oacute;n sobre la red
              telef&oacute;nica asociada a su dispositivo m&oacute;vil, el
              sistema operativo o la plataforma de su dispositivo m&oacute;vil,
              el tipo de dispositivo m&oacute;vil que utiliza, el ID
              &uacute;nico de su dispositivo m&oacute;vil e informaci&oacute;n
              sobre las funciones de nuestras aplicaciones a las que ha
              accedido.</span
            >
          </li>
        </ul>
        <ul class="c15 lst-kix_list_12-0 start">
          <li class="c10 c1 li-bullet-0">
            <span class="c7 c14">Notificaciones push. </span><span class="c7"
              >Es posible que le solicitemos el env&iacute;o de notificaciones
              push sobre su cuenta o ciertas funciones de las aplicaciones. Si
              desea dejar de recibir este tipo de comunicaciones, puede
              desactivarlas en la configuraci&oacute;n de su dispositivo.</span
            >
          </li>
        </ul>
        <p class="c1">
          <span class="c4"
            >Esta informaci&oacute;n es necesaria principalmente para mantener
            la seguridad y el funcionamiento de nuestras aplicaciones, para la
            resoluci&oacute;n de problemas y para nuestros fines de
            an&aacute;lisis e informes internos.</span
          >
        </p>
        <p class="c1 c3"><span class="c4"></span></p>
        <p class="c1">
          <span class="c4"
            >Toda la informaci&oacute;n personal que usted nos proporcione debe
            ser verdadera, completa y precisa, y debe notificarnos cualquier
            cambio en dicha informaci&oacute;n personal.</span
          >
        </p>
        <h3 class="c17 c1" id="h.gh7qccv9nllz">
          <span class="c7 c21"
            >Informaci&oacute;n recopilada autom&aacute;ticamente</span
          >
        </h3>
        <p class="c1">
          <span class="c0"
            >En resumen: Cierta informaci&oacute;n, como su direcci&oacute;n de
            Protocolo de Internet (IP) y/o las caracter&iacute;sticas de su
            navegador y dispositivo, se recopila autom&aacute;ticamente cuando
            visita nuestros Servicios.</span
          >
        </p>
        <p class="c1 c3"><span class="c4"></span></p>
        <p class="c1">
          <span class="c4"
            >Recopilamos autom&aacute;ticamente cierta informaci&oacute;n cuando
            visita, usa o navega por los Servicios. Esta informaci&oacute;n no
            revela su identidad espec&iacute;fica (como su nombre o
            informaci&oacute;n de contacto), pero puede incluir
            informaci&oacute;n sobre el dispositivo y su uso, como su
            direcci&oacute;n IP, las caracter&iacute;sticas del navegador y del
            dispositivo, el sistema operativo, las preferencias de idioma, las
            URL de referencia, el nombre del dispositivo, el pa&iacute;s, la
            ubicaci&oacute;n, informaci&oacute;n sobre c&oacute;mo y
            cu&aacute;ndo usa nuestros Servicios y otra informaci&oacute;n
            t&eacute;cnica. Esta informaci&oacute;n es necesaria principalmente
            para mantener la seguridad y el funcionamiento de nuestros
            Servicios, as&iacute; como para nuestros fines de an&aacute;lisis e
            informes internos.</span
          >
        </p>
        <p class="c1 c3"><span class="c4"></span></p>
        <p class="c1">
          <span class="c4">La informaci&oacute;n que recopilamos incluye:</span>
        </p>
        <ul class="c15 lst-kix_list_3-0 start">
          <li class="c10 c1 li-bullet-0">
            <span class="c7 c14">Datos de registro y uso. </span><span
              class="c7"
              >Los datos de registro y uso son informaci&oacute;n relacionada
              con el servicio, el diagn&oacute;stico, el uso y el rendimiento
              que nuestros servidores recopilan autom&aacute;ticamente cuando
              usted accede o utiliza nuestros Servicios, y que registramos en
              archivos de registro. Dependiendo de c&oacute;mo interact&uacute;e
              con nosotros, estos datos de registro pueden incluir su
              direcci&oacute;n IP, informaci&oacute;n del dispositivo, tipo de
              navegador y configuraci&oacute;n, as&iacute; como
              informaci&oacute;n sobre su actividad en los Servicios (como la
              fecha y hora asociadas a su uso, las p&aacute;ginas y archivos
              vistos, las b&uacute;squedas y otras acciones que realiza, como
              las funciones que utiliza), informaci&oacute;n sobre eventos del
              dispositivo (como la actividad del sistema, informes de errores (a
              veces llamados &quot;crash dumps&quot;) y configuraci&oacute;n del
              hardware).</span
            >
          </li>
        </ul>
        <ul class="c15 lst-kix_list_4-0 start">
          <li class="c10 c1 li-bullet-0">
            <span class="c7 c14">Datos del dispositivo. </span><span class="c7"
              >Recopilamos datos del dispositivo, como informaci&oacute;n sobre
              su computadora, tel&eacute;fono, tableta u otro dispositivo que
              utilice para acceder a los Servicios. Dependiendo del dispositivo,
              estos datos pueden incluir informaci&oacute;n como su
              direcci&oacute;n IP (o servidor proxy), n&uacute;meros de
              identificaci&oacute;n del dispositivo y de la aplicaci&oacute;n,
              ubicaci&oacute;n, tipo de navegador, modelo de hardware, proveedor
              de servicios de internet o de telefon&iacute;a m&oacute;vil,
              sistema operativo e informaci&oacute;n de configuraci&oacute;n del
              sistema.</span
            >
          </li>
        </ul>
        <ul class="c15 lst-kix_list_19-0 start">
          <li class="c10 c1 li-bullet-0">
            <span class="c7 c14">Datos de ubicaci&oacute;n. </span><span
              class="c7"
              >Recopilamos datos de ubicaci&oacute;n, como la informaci&oacute;n
              sobre la ubicaci&oacute;n de su dispositivo, que puede ser precisa
              o imprecisa. La cantidad de informaci&oacute;n que recopilamos
              depende del tipo y la configuraci&oacute;n del dispositivo que
              utilice para acceder a los Servicios. Por ejemplo, podemos
              utilizar GPS y otras tecnolog&iacute;as para recopilar datos de
              geolocalizaci&oacute;n que nos indican su ubicaci&oacute;n actual
              (basada en su direcci&oacute;n IP). Puede optar por no permitirnos
              recopilar esta informaci&oacute;n, ya sea negando el acceso a ella
              o desactivando la configuraci&oacute;n de ubicaci&oacute;n en su
              dispositivo. Sin embargo, si decide no hacerlo, es posible que no
              pueda utilizar ciertos aspectos de los Servicios.</span
            >
          </li>
        </ul>
        <h3 class="c17 c1" id="h.l1x7hyp1wtn9">
          <span class="c21 c23">API de Google</span>
        </h3>
        <p class="c1">
          <span class="c7"
            >Nuestro uso de la informaci&oacute;n recibida de las API de Google
            cumplir&aacute; con
          </span><span class="c12"
            ><a
              class="c2"
              href="https://www.google.com/url?q=https://developers.google.com/terms/api-services-user-data-policy&sa=D&source=editors&ust=1746070269012842&usg=AOvVaw2B_CJDWfAzjMKItbT-kFBN"
              >la Pol&iacute;tica de datos de usuario de los servicios de API de
              Google
            </a></span
          ><span class="c7">, incluidos los </span><span class="c12"
            ><a
              class="c2"
              href="https://www.google.com/url?q=https://developers.google.com/terms/api-services-user-data-policy%23limited-use&sa=D&source=editors&ust=1746070269013180&usg=AOvVaw33fKAHVbx4wWEIrrgJuWRp"
              >requisitos de uso limitado
            </a></span
          ><span class="c4">.</span>
        </p>
        <p class="c1 c3"><span class="c16"></span></p>
        <p class="c1 c3"><span class="c16"></span></p>
        <h2 class="c17 c1" id="h.3wwrlpb3qwc3">
          <span class="c18"
            >2. &iquest;C&Oacute;MO PROCESAMOS SU INFORMACI&Oacute;N?</span
          >
        </h2>
        <p class="c1">
          <span class="c0"
            >En resumen: Procesamos su informaci&oacute;n para proporcionar,
            mejorar y administrar nuestros Servicios, comunicarnos con usted,
            por motivos de seguridad y prevenci&oacute;n del fraude, y para
            cumplir con la ley. Tambi&eacute;n podemos procesar su
            informaci&oacute;n para otros fines con su consentimiento.</span
          >
        </p>
        <p class="c1 c3"><span class="c16"></span></p>
        <p class="c1">
          <span class="c4"
            >Procesamos su informaci&oacute;n personal por una variedad de
            razones, dependiendo de c&oacute;mo interact&uacute;e con nuestros
            Servicios, incluyendo:</span
          >
        </p>
        <ul class="c15 lst-kix_list_13-0 start">
          <li class="c10 c1 li-bullet-0">
            <span class="c7"
              >Para prestar y facilitar la prestaci&oacute;n de servicios al
              usuario. Podemos procesar su informaci&oacute;n para prestarle el
              servicio solicitado.</span
            >
          </li>
        </ul>
        <ul class="c15 lst-kix_list_15-0 start">
          <li class="c1 c10 li-bullet-0">
            <span class="c7"
              >Para responder a las consultas de los usuarios y ofrecerles
              soporte. Podemos procesar su informaci&oacute;n para responder a
              sus consultas y resolver cualquier problema que pueda tener con el
              servicio solicitado.</span
            >
          </li>
        </ul>
        <ul class="c15 lst-kix_list_9-0 start">
          <li class="c10 c1 li-bullet-0">
            <span class="c7"
              >Para ofrecerle publicidad personalizada. Podemos procesar su
              informaci&oacute;n para desarrollar y mostrar contenido y
              publicidad personalizados seg&uacute;n sus intereses,
              ubicaci&oacute;n y otros factores.</span
            >
          </li>
        </ul>
        <ul class="c15 lst-kix_list_7-0 start">
          <li class="c10 c1 li-bullet-0">
            <span class="c7">Para proteger nuestros Servicios. </span><span
              class="c6"
              >Podemos procesar su informaci&oacute;n como parte de nuestros
              esfuerzos por mantener la seguridad de nuestros Servicios,
              incluyendo la supervisi&oacute;n y prevenci&oacute;n del fraude.</span
            >
          </li>
        </ul>
        <ul class="c15 lst-kix_list_5-0 start">
          <li class="c10 c1 li-bullet-0">
            <span class="c7"
              >Para evaluar y mejorar nuestros Servicios, productos, marketing y
              su experiencia.
            </span><span class="c6"
              >Podemos procesar su informaci&oacute;n cuando lo consideremos
              necesario para identificar tendencias de uso, determinar la
              eficacia de nuestras campa&ntilde;as promocionales y evaluar y
              mejorar nuestros Servicios, productos, marketing y su experiencia.</span
            >
          </li>
        </ul>
        <ul class="c15 lst-kix_list_10-0 start">
          <li class="c10 c1 li-bullet-0">
            <span class="c7">Para identificar tendencias de uso. </span><span
              class="c6"
              >Podemos procesar informaci&oacute;n sobre c&oacute;mo utiliza
              nuestros Servicios para comprender mejor c&oacute;mo se utilizan y
              as&iacute; poder mejorarlos.</span
            >
          </li>
        </ul>
        <p class="c1 c3"><span class="c16"></span></p>
        <h2 class="c17 c1" id="h.vqojnlszf64v">
          <span class="c18"
            >3. &iquest;CU&Aacute;NDO Y CON QUI&Eacute;N COMPARTIMOS SU
            INFORMACI&Oacute;N PERSONAL?</span
          >
        </h2>
        <p class="c1">
          <span class="c0"
            >En resumen: Podemos compartir informaci&oacute;n en situaciones
            espec&iacute;ficas descritas en esta secci&oacute;n y/o con las
            siguientes categor&iacute;as de terceros.</span
          >
        </p>
        <p class="c1 c3"><span class="c16"></span></p>
        <p class="c1">
          <span class="c4"
            >Proveedores, consultores y otros proveedores de servicios externos.
            Podr&iacute;amos compartir sus datos con proveedores, proveedores de
            servicios, contratistas o agentes externos (&quot;terceros&quot;)
            que prestan servicios para nosotros o en nuestro nombre y requieren
            acceso a dicha informaci&oacute;n para realizar dicho trabajo.</span
          >
        </p>
        <p class="c1 c3"><span class="c16"></span></p>
        <p class="c1">
          <span class="c4"
            >Las categor&iacute;as de terceros con los que podemos compartir
            informaci&oacute;n personal son las siguientes:</span
          >
        </p>
        <ul class="c15 lst-kix_list_1-0 start">
          <li class="c10 c1 li-bullet-0">
            <span class="c7">Redes publicitarias</span>
          </li>
        </ul>
        <ul class="c15 lst-kix_list_6-0 start">
          <li class="c10 c1 li-bullet-0">
            <span class="c7">Servicios de an&aacute;lisis de datos</span>
          </li>
        </ul>
        <ul class="c15 lst-kix_list_11-0 start">
          <li class="c10 c1 li-bullet-0">
            <span class="c7"
              >Herramientas de monitorizaci&oacute;n del rendimiento</span
            >
          </li>
        </ul>
        <ul class="c15 lst-kix_list_17-0 start">
          <li class="c10 c1 li-bullet-0">
            <span class="c7">Procesadores de pagos</span>
          </li>
        </ul>
        <p class="c1 c3"><span class="c16"></span></p>
        <p class="c1">
          <span class="c4"
            >Tambi&eacute;n es posible que necesitemos compartir su
            informaci&oacute;n personal en las siguientes situaciones:</span
          >
        </p>
        <ul class="c15 lst-kix_list_16-0 start">
          <li class="c10 c1 li-bullet-0">
            <span class="c7"
              >Transferencias de Negocios. Podemos compartir o transferir su
              informaci&oacute;n en relaci&oacute;n con, o durante las
              negociaciones de, cualquier fusi&oacute;n, venta de activos de la
              empresa, financiaci&oacute;n o adquisici&oacute;n de la totalidad
              o parte de nuestro negocio a otra empresa.</span
            >
          </li>
        </ul>
        <ul class="c15 lst-kix_list_18-0 start">
          <li class="c10 c1 li-bullet-0">
            <span class="c7">Muro de Ofertas. </span><span class="c6"
              >Nuestras aplicaciones pueden mostrar un &quot;muro de
              ofertas&quot; alojado por terceros. Este muro de ofertas permite a
              los anunciantes externos ofrecer moneda virtual, regalos u otros
              art&iacute;culos a los usuarios a cambio de aceptar y completar
              una oferta publicitaria. Este muro de ofertas puede aparecer en
              nuestras aplicaciones y mostrarse en funci&oacute;n de ciertos
              datos, como su &aacute;rea geogr&aacute;fica o informaci&oacute;n
              demogr&aacute;fica. Al hacer clic en un muro de ofertas,
              acceder&aacute; a un sitio web externo perteneciente a otras
              personas y abandonar&aacute; nuestras aplicaciones. Compartiremos
              un identificador &uacute;nico, como su ID de usuario, con el
              proveedor del muro de ofertas para prevenir el fraude y acreditar
              correctamente la recompensa correspondiente en su cuenta.</span
            >
          </li>
        </ul>
        <p class="c1 c3"><span class="c16"></span></p>
        <h2 class="c17 c1" id="h.19u4snrc0whu">
          <span class="c18"
            >4. &iquest;CU&Aacute;L ES NUESTRA POSTURA SOBRE LOS SITIOS WEB DE
            TERCEROS?</span
          >
        </h2>
        <p class="c1">
          <span class="c0"
            >En resumen: No somos responsables de la seguridad de ninguna
            informaci&oacute;n que usted comparta con terceros con los que
            podamos vincularnos o que anuncien en nuestros Servicios, pero que
            no est&eacute;n afiliados a nuestros Servicios.</span
          >
        </p>
        <p class="c1 c3"><span class="c16"></span></p>
        <p class="c1">
          <span class="c4"
            >Los Servicios, incluido nuestro muro de ofertas, pueden enlazar a
            sitios web, servicios en l&iacute;nea o aplicaciones m&oacute;viles
            de terceros, o contener anuncios de terceros no afiliados a
            nosotros, que pueden enlazar a otros sitios web, servicios o
            aplicaciones. Por lo tanto, no ofrecemos ninguna garant&iacute;a con
            respecto a dichos terceros y no seremos responsables de ninguna
            p&eacute;rdida o da&ntilde;o causado por el uso de dichos sitios
            web, servicios o aplicaciones de terceros. La inclusi&oacute;n de un
            enlace a un sitio web, servicio o aplicaci&oacute;n de terceros no
            implica nuestra aprobaci&oacute;n. No podemos garantizar la
            seguridad ni la privacidad de los datos que proporcione a sitios web
            de terceros. Los datos recopilados por terceros no est&aacute;n
            cubiertos por este Aviso de Privacidad. No nos hacemos responsables
            del contenido ni de las pr&aacute;cticas y pol&iacute;ticas de
            privacidad y seguridad de terceros, incluidos otros sitios web,
            servicios o aplicaciones que puedan estar enlazados a o desde los
            Servicios. Le recomendamos revisar las pol&iacute;ticas de dichos
            terceros y contactarlos directamente para que respondan a sus
            preguntas.</span
          >
        </p>
        <p class="c1 c3"><span class="c16"></span></p>
        <h2 class="c17 c1" id="h.kl7bkeaygib8">
          <span class="c18"
            >5. &iquest;UTILIZAMOS COOKIES Y OTRAS TECNOLOG&Iacute;AS DE
            SEGUIMIENTO?</span
          >
        </h2>
        <p class="c1">
          <span class="c0"
            >En resumen: Podemos utilizar cookies y otras tecnolog&iacute;as de
            seguimiento para recopilar y almacenar su informaci&oacute;n.</span
          >
        </p>
        <p class="c1 c3"><span class="c16"></span></p>
        <p class="c1">
          <span class="c4"
            >Podemos utilizar cookies y tecnolog&iacute;as de seguimiento
            similares (como balizas web y p&iacute;xeles) para recopilar
            informaci&oacute;n cuando interact&uacute;a con nuestros Servicios.
            Algunas tecnolog&iacute;as de seguimiento en l&iacute;nea nos ayudan
            a mantener la seguridad de nuestros Servicios, evitar fallos,
            corregir errores, guardar sus preferencias y facilitar las funciones
            b&aacute;sicas del sitio.</span
          >
        </p>
        <p class="c1 c3"><span class="c16"></span></p>
        <p class="c1">
          <span class="c4"
            >Tambi&eacute;n permitimos que terceros y proveedores de servicios
            utilicen tecnolog&iacute;as de seguimiento en l&iacute;nea en
            nuestros Servicios para fines de an&aacute;lisis y publicidad,
            incluyendo la gesti&oacute;n y visualizaci&oacute;n de anuncios, la
            personalizaci&oacute;n de los anuncios seg&uacute;n sus intereses o
            el env&iacute;o de recordatorios de carritos de compra abandonados
            (seg&uacute;n sus preferencias de comunicaci&oacute;n). Estos
            terceros y proveedores de servicios utilizan su tecnolog&iacute;a
            para ofrecer publicidad sobre productos y servicios adaptados a sus
            intereses, que puede aparecer en nuestros Servicios o en otros
            sitios web.</span
          >
        </p>
        <p class="c1 c3"><span class="c16"></span></p>
        <p class="c1">
          <span class="c4"
            >En nuestro Aviso de Cookies se establece informaci&oacute;n
            espec&iacute;fica sobre c&oacute;mo utilizamos dichas
            tecnolog&iacute;as y c&oacute;mo puede rechazar determinadas
            cookies.</span
          >
        </p>
        <h3 class="c17 c1" id="h.6p19ntlh2qnp">
          <span class="c21 c23">Google Analytics</span>
        </h3>
        <p class="c1">
          <span class="c7"
            >Podemos compartir su informaci&oacute;n con Google Analytics para
            rastrear y analizar el uso de los Servicios. Las funciones
            publicitarias de Google Analytics que podemos utilizar incluyen:
            Informes de datos demogr&aacute;ficos e intereses de Google
            Analytics e Informes de impresiones de la Red de Display de Google.
            Para inhabilitar el seguimiento de Google Analytics en los
            Servicios, visite
          </span><span class="c5"
            ><a
              class="c2"
              href="https://www.google.com/url?q=https://tools.google.com/dlpage/gaoptout&sa=D&source=editors&ust=1746070269029319&usg=AOvVaw0O8Y3XRIi9GOYfcfd34hUN"
              >https://tools.google.com/dlpage/gaoptout
            </a></span
          ><span class="c13">. </span><span class="c7"
            >Puede inhabilitar las funciones publicitarias de Google Analytics a
            trav&eacute;s de
          </span><span class="c5"
            ><a
              class="c2"
              href="https://www.google.com/url?q=https://adssettings.google.com/&sa=D&source=editors&ust=1746070269029703&usg=AOvVaw0YnylysS0P3Uo8NtL98JAG"
              >la Configuraci&oacute;n de anuncios
            </a></span
          ><span class="c7"
            >y la Configuraci&oacute;n de anuncios para aplicaciones
            m&oacute;viles. Otras formas de inhabilitar las funciones
            publicitarias incluyen
          </span><span class="c5"
            ><a
              class="c2"
              href="https://www.google.com/url?q=http://optout.networkadvertising.org/&sa=D&source=editors&ust=1746070269030118&usg=AOvVaw32cUg0HCN9J5kvUiMLJqe6"
              >http://optout.networkadvertising.org/
            </a></span
          ><span class="c7">y </span><span class="c5"
            ><a
              class="c2"
              href="https://www.google.com/url?q=http://www.networkadvertising.org/mobile-choice&sa=D&source=editors&ust=1746070269030354&usg=AOvVaw1LQtFQUWIkSNmlg9fAQm66"
              >http://www.networkadvertising.org/mobile-choice
            </a></span
          ><span class="c7"
            >. Para obtener m&aacute;s informaci&oacute;n sobre las
            pr&aacute;cticas de privacidad de Google, visite la
          </span><span class="c5"
            ><a
              class="c2"
              href="https://www.google.com/url?q=https://policies.google.com/privacy&sa=D&source=editors&ust=1746070269030740&usg=AOvVaw2sbiBB6N4dB-ZArL4sOxJZ"
              >p&aacute;gina de Privacidad y Condiciones de Google
            </a></span
          ><span class="c4">.</span>
        </p>
        <p class="c1 c3"><span class="c16"></span></p>
        <h2 class="c17 c1" id="h.xset9tn9gyol">
          <span class="c18"
            >6. &iquest;DURANTE CU&Aacute;NTO TIEMPO CONSERVAMOS SU
            INFORMACI&Oacute;N?</span
          >
        </h2>
        <p class="c1">
          <span class="c0"
            >En resumen: Conservamos su informaci&oacute;n durante el tiempo que
            sea necesario para cumplir con los fines descritos en este Aviso de
            privacidad, a menos que la ley exija lo contrario.</span
          >
        </p>
        <p class="c1 c3"><span class="c16"></span></p>
        <p class="c1">
          <span class="c4"
            >Solo conservaremos su informaci&oacute;n personal durante el tiempo
            que sea necesario para los fines establecidos en este Aviso de
            Privacidad, a menos que la ley requiera o permita un per&iacute;odo
            de retenci&oacute;n m&aacute;s largo (como requisitos fiscales,
            contables u otros requisitos legales).</span
          >
        </p>
        <p class="c1 c3"><span class="c16"></span></p>
        <p class="c1">
          <span class="c4"
            >Cuando no tengamos una necesidad comercial leg&iacute;tima en curso
            para procesar su informaci&oacute;n personal, eliminaremos o
            anonimizaremos dicha informaci&oacute;n o, si esto no es posible
            (por ejemplo, porque su informaci&oacute;n personal ha sido
            almacenada en archivos de respaldo), almacenaremos de forma segura
            su informaci&oacute;n personal y la aislaremos de cualquier
            procesamiento posterior hasta que sea posible su eliminaci&oacute;n.</span
          >
        </p>
        <p class="c1 c3"><span class="c16"></span></p>
        <h2 class="c17 c1" id="h.rk3iq2vlxtw4">
          <span class="c18"
            >7. &iquest;C&Oacute;MO MANTENEMOS SEGURA SU INFORMACI&Oacute;N?</span
          >
        </h2>
        <p class="c1">
          <span class="c0"
            >En resumen: Nuestro objetivo es proteger su informaci&oacute;n
            personal a trav&eacute;s de un sistema de medidas de seguridad
            organizativas y t&eacute;cnicas.</span
          >
        </p>
        <p class="c1 c3"><span class="c16"></span></p>
        <p class="c1">
          <span class="c4"
            >Hemos implementado medidas de seguridad t&eacute;cnicas y
            organizativas adecuadas y razonables, dise&ntilde;adas para proteger
            la seguridad de toda la informaci&oacute;n personal que procesamos.
            Sin embargo, a pesar de nuestras medidas de seguridad y esfuerzos
            para proteger su informaci&oacute;n, ninguna transmisi&oacute;n
            electr&oacute;nica por internet ni tecnolog&iacute;a de
            almacenamiento de informaci&oacute;n puede garantizarse al 100 %.
            Por lo tanto, no podemos prometer ni garantizar que hackers,
            ciberdelincuentes u otros terceros no autorizados no puedan vulnerar
            nuestra seguridad y recopilar, acceder, robar o modificar su
            informaci&oacute;n de forma indebida. Si bien haremos todo lo
            posible por proteger su informaci&oacute;n personal, la
            transmisi&oacute;n de informaci&oacute;n personal hacia y desde
            nuestros Servicios se realiza bajo su propio riesgo. Solo debe
            acceder a los Servicios en un entorno seguro.</span
          >
        </p>
        <p class="c1 c3"><span class="c16"></span></p>
        <h2 class="c17 c1" id="h.nelb8kpyvifh">
          <span class="c18"
            >8. &iquest;RECOGEMOS INFORMACI&Oacute;N DE MENORES?</span
          >
        </h2>
        <p class="c1">
          <span class="c0"
            >En resumen: No recopilamos intencionalmente datos de ni&ntilde;os
            menores de 18 a&ntilde;os ni realizamos marketing dirigido a ellos.</span
          >
        </p>
        <p class="c1 c3"><span class="c16"></span></p>
        <p class="c1">
          <span class="c4"
            >No recopilamos, solicitamos ni comercializamos deliberadamente
            datos de menores de 18 a&ntilde;os, ni vendemos dicha
            informaci&oacute;n personal. Al usar los Servicios, usted declara
            tener al menos 18 a&ntilde;os o ser el padre, madre o tutor de dicho
            menor y consiente el uso de los Servicios por parte de dicho menor.
            Si detectamos que se ha recopilado informaci&oacute;n personal de
            usuarios menores de 18 a&ntilde;os, desactivaremos la cuenta y
            tomaremos las medidas razonables para eliminar dicha
            informaci&oacute;n de nuestros registros de inmediato. Si tiene
            conocimiento de que hayamos recopilado datos de menores de 18
            a&ntilde;os, p&oacute;ngase en contacto con nosotros en
            briancaldera07@gmail.com.</span
          >
        </p>
        <p class="c1 c3"><span class="c16"></span></p>
        <h2 class="c17 c1" id="h.hdr2drg9z47t">
          <span class="c18"
            >9. &iquest;CU&Aacute;LES SON SUS DERECHOS DE PRIVACIDAD?</span
          >
        </h2>
        <p class="c1">
          <span class="c0"
            >En resumen: Puede revisar, cambiar o cancelar su cuenta en
            cualquier momento, dependiendo de su pa&iacute;s, provincia o estado
            de residencia.</span
          >
        </p>
        <p class="c1 c3"><span class="c4"></span></p>
        <p class="c1">
          <span class="c5">Retirada de su consentimiento: </span><span
            class="c7"
            >Si nos basamos en su consentimiento para procesar su
            informaci&oacute;n personal, que puede ser expreso o
            impl&iacute;cito seg&uacute;n la legislaci&oacute;n aplicable, tiene
            derecho a retirarlo en cualquier momento. Puede retirarlo en
            cualquier momento poni&eacute;ndose en contacto con nosotros a
            trav&eacute;s de los datos de contacto que aparecen en la
            secci&oacute;n &quot;&iquest;
          </span><span class="c12"
            ><a
              class="c2"
              href="https://www.google.com/url?q=http://localhost:4321/tubolivarhoy/privacy%23contact&sa=D&source=editors&ust=1746070269038983&usg=AOvVaw06aKGYtUTeNCkZoHURLz1Z"
              >C&Oacute;MO PUEDE CONTACTARNOS SOBRE ESTE AVISO?
            </a></span
          ><span class="c4">&quot;.</span>
        </p>
        <p class="c1 c3"><span class="c4"></span></p>
        <p class="c1">
          <span class="c4"
            >Sin embargo, tenga en cuenta que esto no afectar&aacute; la
            legalidad del procesamiento antes de su retiro ni, cuando la ley
            aplicable lo permita, afectar&aacute; el procesamiento de su
            informaci&oacute;n personal realizado en base a motivos de
            procesamiento legales distintos del consentimiento.</span
          >
        </p>
        <p class="c1 c3"><span class="c27 c6"></span></p>
        <p class="c1">
          <span class="c6"
            >Si tiene preguntas o comentarios sobre sus derechos de privacidad,
            puede enviarnos un correo electr&oacute;nico a
          </span><span class="c7">briancaldera07@gmail.com </span><span
            class="c20 c6">.</span
          >
        </p>
        <p class="c1 c3"><span class="c6 c27"></span></p>
        <h2 class="c17 c1" id="h.f2wqq0u91b8b">
          <span class="c18"
            >10. CONTROLES PARA LAS FUNCIONES DE NO SEGUIMIENTO</span
          >
        </h2>
        <p class="c1">
          <span class="c4"
            >La mayor&iacute;a de los navegadores web, as&iacute; como algunos
            sistemas operativos y aplicaciones m&oacute;viles, incluyen una
            funci&oacute;n o configuraci&oacute;n de &quot;No rastrear&quot;
            (&quot;DNT&quot;) que puede activar para indicar su preferencia de
            privacidad y evitar que se monitoreen y recopilen datos sobre sus
            actividades de navegaci&oacute;n en l&iacute;nea. Actualmente, no se
            ha establecido un est&aacute;ndar tecnol&oacute;gico uniforme para
            reconocer e implementar las se&ntilde;ales DNT. Por lo tanto,
            actualmente no respondemos a las se&ntilde;ales DNT del navegador ni
            a ning&uacute;n otro mecanismo que comunique autom&aacute;ticamente
            su decisi&oacute;n de no ser rastreado en l&iacute;nea. Si se adopta
            un est&aacute;ndar de rastreo en l&iacute;nea que debamos seguir en
            el futuro, le informaremos sobre dicha pr&aacute;ctica en una
            versi&oacute;n revisada de este Aviso de Privacidad.</span
          >
        </p>
        <p class="c1 c3"><span class="c16"></span></p>
        <h2 class="c17 c1" id="h.md4aw5vcfrr7">
          <span class="c18"
            >11. &iquest;HACEMOS ACTUALIZACIONES A ESTE AVISO?</span
          >
        </h2>
        <p class="c1">
          <span class="c0"
            >En resumen: S&iacute;, actualizaremos este aviso seg&uacute;n sea
            necesario para cumplir con las leyes pertinentes.</span
          >
        </p>
        <p class="c1 c3"><span class="c16"></span></p>
        <p class="c1">
          <span class="c4"
            >Podemos actualizar este Aviso de Privacidad ocasionalmente. La
            versi&oacute;n actualizada se indicar&aacute; mediante la fecha de
            &quot;Revisi&oacute;n&quot; en la parte superior. Si realizamos
            cambios sustanciales en este Aviso de Privacidad, podremos
            notificarle mediante un aviso visible o envi&aacute;ndole
            directamente una notificaci&oacute;n. Le recomendamos revisar este
            Aviso de Privacidad con frecuencia para estar al tanto de
            c&oacute;mo protegemos su informaci&oacute;n.</span
          >
        </p>
        <p class="c1 c3"><span class="c16"></span></p>
        <h2 class="c17 c1" id="h.oa0ara8a56yz">
          <span class="c18"
            >12. &iquest;C&Oacute;MO PUEDE CONTACTARNOS SOBRE ESTE AVISO?</span
          >
        </h2>
        <p class="c1">
          <span class="c4"
            >Si tiene preguntas o comentarios sobre este aviso, puede enviarnos
            un correo electr&oacute;nico a briancaldera07@gmail.com o
            contactarnos por correo postal a:</span
          >
        </p>
        <p class="c1 c3"><span class="c16"></span></p>
        <p class="c1"><span class="c4">Brian Caldera</span></p>
        <p class="c1">
          <span class="c4"
            >Conjunto Residencial Los Vidriales Sector Oeste, Boyac&aacute; 2</span
          >
        </p>
        <p class="c1">
          <span class="c7">Barcelona </span><span class="c6">, </span><span
            class="c7">Anzo&aacute;tegui</span
          ><span class="c6">&nbsp;</span><span class="c4">6001</span>
        </p>
        <p class="c1"><span class="c4">Venezuela</span></p>
        <p class="c1 c3"><span class="c4"></span></p>
        <h2 class="c17 c1" id="h.ywz1q9bpnvyx">
          <span class="c21 c7"
            >13. &iquest;C&Oacute;MO PUEDE REVISAR, ACTUALIZAR O ELIMINAR LOS
            DATOS QUE RECOPILAMOS DE USTED?</span
          >
        </h2>
        <p class="c1">
          <span class="c7"
            >De acuerdo con la legislaci&oacute;n aplicable de su pa&iacute;s,
            usted podr&iacute;a tener derecho a solicitar acceso a la
            informaci&oacute;n personal que recopilamos, detalles sobre
            c&oacute;mo la hemos procesado, corregir inexactitudes o eliminar su
            informaci&oacute;n personal. Tambi&eacute;n podr&iacute;a tener
            derecho a retirar su consentimiento para el procesamiento de su
            informaci&oacute;n personal. Estos derechos podr&iacute;an estar
            limitados en algunas circunstancias por la legislaci&oacute;n
            aplicable. Para solicitar la revisi&oacute;n, actualizaci&oacute;n o
            eliminaci&oacute;n de su informaci&oacute;n personal, complete y
            env&iacute;e una
          </span><span class="c5"
            ><a
              class="c2"
              href="https://www.google.com/url?q=https://app.termly.io/notify/48b52a84-0dea-4589-854a-10dc9d8ca2e0&sa=D&source=editors&ust=1746070269046026&usg=AOvVaw0AlOrEWt1OvClv5f0lpwHM"
              >solicitud de acceso para interesados
            </a></span
          ><span class="c4">.</span>
        </p>
        <p class="c25 c3"><span class="c11"></span></p>
      </div>
    </div>
  </main>
  <Footer />
</TuBolivarHoyLayout>
